<div class="userLine">
    <div class="userData d-flex flex-column">
        <span class="name">{{user.personal_data.name}} {{user.personal_data.first_surname}}</span>
        <span class="type">{{user.type}}</span>
    </div>
    <div class="actions">
        <button type="button" class="btn btn-primary" (click)="getInfo()"><i class="bi bi-card-heading"></i></button>
        <button type="button" class="btn btn-warning" (click)="editUser()"><i class="bi bi-pencil"></i></button>
        <button type="button" class="btn btn-danger" (click)="delUser()"><i class="bi bi-trash"></i></button>
    </div>
</div>  